@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";


body {
  background: white;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  color: $dark;
  text-transform: none;
  min-width: 1200px;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  @include clearfix;
}

.main-content {
  background-color: #f8f8f8;
  background-image: url("../img/zigzag.jpg");
  background-repeat: repeat;
  width: 100%;
  padding: 100px 0;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 5px 10px 3px #d8d8d8;

}

// подключение всех стилей

@import "blocks/btn.scss";
@import "blocks/footer.scss";
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/intro.scss";

@import "blocks/promo.scss";
@import "blocks/offer.scss";
@import "blocks/work.scss";
@import "blocks/place.scss";
@import "blocks/partners.scss";
@import "blocks/order.scss";
