$dark: #1d1d1b;
$yellow: #ffba21;
$yellow-light: #ffcf65;
$grey: #dadada;
$yellow-dark: #efa503;


// если верстается desktop first
$desktop-width: "min-width: 1200px";
$tablet-width: "max-width: 1200px";
$mobile-width: "max-width: 767px";
