.footer {
  background: $dark;
  padding: 40px 65px;
  padding-top: 30px;
  color: $grey;
  position: relative;
  z-index: 2;

  &:before {
    content: "";
    width: 190%;
    height: 150px;
    background: $dark;
    display: block;
    position: absolute;
    left: -50%;
    z-index: -1;
    top: -40px;
    transform: rotate(-4deg);
  }

  &__line {
    @include clearfix;
    padding-top: 30px;
  }

  &__text {
    float: left;
    width: 500px;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: block;
    float: right;
    max-width: 270px;
    text-align: right;
    text-decoration: none;
    color: $yellow;
    transition: all 0.3s ease;
    padding-bottom: 3px;
    border-bottom: 1px solid $dark;
    &:hover {
      color: $yellow-light;
      border-bottom: 1px solid $yellow-light;
    }
    &:active {
      color:  $yellow-dark;
      border-bottom: 1px solid $yellow-dark;
    }
  }

}
