.header {
  background: $dark;
  border-bottom: 4px solid $yellow;
  color: #fff;
  padding: 20px 0;

  &__link {
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid $dark;
    transition: all 0.3s ease;
    &:hover {
      color: $yellow-light;
      border-bottom: 1px solid $yellow-light;
    }
    &:active {
      color:  $yellow-dark;
      border-bottom: 1px solid $yellow-dark;
    }
  }

  &__contacts {
    float: right;
    margin-top: 22px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    text-align: right;
    @media ($mobile-width) {
      float: none;
      text-align: left;
    }
    &:before {
      content: "";
      background-image: url("../img/spritesheet.png");
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
      top: 50%;
    }

    &--phone {
      margin-left: 50px;
      padding-left: 38px;
      min-width: 100px;
      &:before {
        width: 27px;
        height: 40px;
        background-position: -390px -200px;
      }
      @media ($mobile-width) {
        margin-left: 0px;
        width: 180px;
      }
    }

    &--email {
      padding-left: 48px;
      min-width: 100px;
      &:before {
        width: 36px;
        height: 27px;
        background-position: -127px -10px;
      }
    }

  }


}
