.header {
  background: $dark;
  border-bottom: 4px solid $yellow;
  color: #fff;
  padding: 20px 0;

  &__link {
    color: #fff;
    text-decoration: none;
  }

  &__contacts {
    float: right;
    margin-top: 22px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    &:before {
      content: "";
      background-image: url("../img/spritesheet.png");
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
      top: 50%;
    }

    &--phone {
      margin-left: 50px;
      padding-left: 38px;
      min-width: 310px;
      &:before {
        width: 27px;
        height: 40px;
        background-position: -390px -200px;
      }
    }

    &--email {
      padding-left: 48px;
      min-width: 190px;
      &:before {
        width: 36px;
        height: 27px;
        background-position: -127px -10px;
      }
    }

  }


}
