.place {
  width: 1170px;
  height: 487px;
  background: #fff;
  position: relative;
  @media ($tablet-width) {
    background: url("../img/city-768.png") no-repeat;
    width: 768px;
    height: 354px;
  }

  &__image {
    width: 1135px;
    height: 487px;
    position: absolute;
    background: url("../img/city.png") no-repeat;
    left: 0;
    top: 0;
    @media ($tablet-width) {
      background: url("../img/city-768.png") no-repeat;
      width: 754px;
      height: 354px;
    }
  }

  &__description {
    margin: 0;
    font-size: 30px;
    z-index: 1;
    position: relative;
    margin: 0 140px;
    line-height: 37px;
    top: 250px;
    left: -60px;
    position: relative;
    @media ($tablet-width) {
      margin: 0 80px;
      left: -20px;
      top: 180px;
    }

    span {
      font-weight: 500;
    }
  }

  &__bg {
    transform: rotate(-2deg);
    background: $yellow;
    width: 920px;
    height: 140px;
    position: absolute;
    left: 40px;
    top: 225px;
    @media ($tablet-width) {
      width: 680px;
      top: 165px;
    }
  }
}
