.work {
  position: relative;
  padding-top: 280px;
  padding-bottom: 50px;

  &__title {
    position: absolute;
    left: 0;
    top: 70px;
    background: $dark;
    padding: 30px 60px;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    border-radius: 0 60px 60px 0;
  }

  &__description {
    margin: 0 auto;
    padding: 0 126px;
    position: relative;
    text-align: center;
    padding-bottom: 150px;
    width: 798px;
    height: 287px;
  }

  &__image {
    background: url("../img/work-image.png") no-repeat;
    width: 798px;
    height: 287px;
  }

  &__text {
    width: 280px;
    position: absolute;

    &--1 {
      left: 63px;
    }
    &--2 {
      right: 63px;
    }
  }
}
